html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ol,
ul,
li,
section,
article,
main,
nav,
header,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
